@import url('https://fonts.googleapis.com/css?family=Rubik');

tbody {
    vertical-align: top;
}
td {
    padding: 10px;
}

body {
    background-color: #F8FFFF;
    font-family: 'Rubik';
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 100px;    /* Footer height */
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    height: 50px;
    text-align: center;
}

footer img {
    height: 100%;
    margin: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.no-wrap {
    flex-wrap: nowrap;
}

.column {
    padding: 10px;
}

.column-2 {
    flex: calc(50% - 20px);
}

.column-30 {
    flex: 30%;
}

.column-70 {
    flex: 70%;
}

.homePageCliparts {
    width: 300px;
    float:left;
}

.homePageCliparts img {
    width: 100%;
}

.film figure {
    width: 50%;
    text-align: center;
    margin: 0 auto 50 auto;
}

.film video {
    width:100%;
}

.sound figure {
    width: 70%;
    text-align: center;
    margin: auto;
}

.sound video{
    width: 100%;
}

.cv .container {
    width: 80%;
    margin: auto;
    max-width: 1000px;
}

.cv {
    font-family: 'Rubik';
}

#resume-left {
    background-color: #282c34BF;
    color:#56B6C2;
}

#resume-right {
    background-color: #2f333d;
    color: #d7dae0;
}

.cv a{
    color: #C678DD;
}

.cv a:hover {
    color: #F8FFFF;
}