tbody {
    vertical-align: top;
}

td {
    padding: 10px;
}

body {
    background-color: #F8FFFF;
}

.homePageCliparts {
    width: 300px;
    float:left;
}

.homePageCliparts img {
    width: 100%;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
}

.film figure {
    width: 50%;
}

.film video {
    width:100%;
}